* {
    box-sizing: border-box;
}

html {
    font-size: 0.9rem;
    padding: 0.3rem;
}        

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Audiowide', cursive;
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

nav-container, home-container {
    width: 100%;
    margin: 0 auto;
}