.home-container {
    background: @home-bg;
}

.introduction {
    padding: 2rem;
}

.clip-art {
    .flex();
    margin-top: 3em;

    img {
        height: 10%;
        width: 10%;
    }
}

.clip-art-text {
    .flex();
    margin-top: 1rem;
}

.help-desk {
    margin-top: 3rem;
    padding: 2rem;

    p {
        margin-top: 1.2rem;
    }
}

.btn {
    .btn-styles(#F6F7F8, #050404);
    margin: 1rem;
    width: 5.7rem;
    height: 2rem;
    text-align: center;
    padding-top: .5rem;
    border-radius: 15px;
}

.team-heading {
    margin-left: 62rem;
    padding-bottom: 2rem;
}

.meet-team {
    width: 100%;
    .flex();

    img {
        height: 10rem;
        width: 10rem;
        border-radius: 100px;
        border: 12px double @color;
        margin: 0 auto;
        }

    p {
        color: @bgcolor;
    }
}


    



