.home-container {
    background: #ae6161;
}

.introduction {

}

.clip-art img{
    height: 10%;
    width: 10%;
}

.meet-team {
    display: flex;
}

.meet-team img {
    height:10rem ;
    width: 10rem;
    border-radius: 50px;
}