.bg-color {
    background: #979393;
}

.nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    height: 15rem;
}

.heading-name {
    padding-top: 4rem;
    margin-left: 2rem;

    h3 {
        padding-top: 1rem;
    }
}

.heading-title {
    padding: 8rem;
    margin-left: 6rem;

    h2 {
        padding-bottom: 2rem;
    }
}

.navigation {
    padding-top: 1rem;

    a {
        text-decoration: none;
        color: black;
        padding-right: 2rem;
    }
}