.bg-color {
    background: @nav-bg;
}

.nav-container {
    .flex-display();
    position: relative;
    height: 15rem;
}

.heading-name {
    padding-top: 4rem;
    margin-left: 2rem;

    h3 {
        padding-top: 1rem;
    }
}

.heading-title {
    padding: 3rem;
    margin-left: 6rem;

    img {
        padding-left: 3.7rem;
    }
    
}

.navigation {
    padding-top: 1rem;

    a {
        text-decoration: none;
        color: black;
        padding-right: 2rem;
    }
}

